// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    color: #48505a;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    background-color: #f6f8fa;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%2348505a' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}


input {
    border-radius: 5px;
    padding: 10px 20px;
    border: solid 1px #48505a;
    display: block;
    box-shadow: 0 55px 70px -40px rgba(50,50,93,.55), 0 20px 30px -10px rgba(0,0,0,.14);
    font-size: 28px;
    color: #48505a;
    width: 100%;
    text-align: center;
    font-weight: 100;
    box-sizing: border-box;
    margin: 80px 0 20px 0;
}

input:focus {
    outline: none;
}

.full-height {
    height: 80vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    width: 60vw;
}

.title {
    font-size: 52px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.result-wrap {
    margin-top: 40px;
}

    .result-wrap .status {
        height: 61px;
    }

    .result-wrap  .contact-wrap {
        height: 10px;
        margin-top: 10px;
    }

    .result-wrap .contact {
        display: block;
        font-size: 11px;
        
        font-weight: 400;
    }

        .result-wrap  a {
            color: inherit;
        }

.result {
    font-weight: 400;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
}

.is-bot {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.not-bot {
    color: #D8000C;
    background-color: #FFBABA;
}